<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    
    <link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="style.css" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    
    <title>Chat Node Js</title>
  </head>

  <body>
    <header>
      <h1>CHAT</h1>
      <h2>Nombre: Henry Jordan Villalobos Quispe</h2>
      <h2>Paralelo: A Jueves </h2>
    </header>

    <section>
      <div id="cambiar_usuario">
	<input id="usuario" type="text" />
	<button id="enviar_usuario" type="button">Cambiar Nombre de Usuario</button>
      </div>
    </section>
   <section id="chat">
      <section id="feedback"></section>
    </section>

    <section id="input_zone"> 
      <input id="mensaje" class="vertical-align" type="text" />
      <button id="enviar_mensaje" class="vertical-align" type="button">Enviar</button>
    </section>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="chat.js"></script>
  </body>
</html>